@{
    ViewData["Title"] = "Home Page";
}


<div class="content">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="card-title"><strong>GOLD DIVISION</strong></h2>
                </div>
                <div class="card-body" style="margin-top: 10px">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        NickName
                                    </th>
                                    <th>
                                        Win Rate
                                    </th>
                                    <th>
                                        MMR
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        icon
                                    </td>
                                    <td>
                                        Stojcee
                                    </td>
                                    <td>
                                        33%
                                    </td>
                                    <td>
                                        933
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        icon
                                    </td>
                                    <td>
                                        Cedica
                                    </td>
                                    <td>
                                        50%
                                    </td>
                                    <td>
                                        1333
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        icon
                                    </td>
                                    <td>
                                        Cowboy
                                    </td>
                                    <td>
                                        100%
                                    </td>
                                    <td>
                                        1933
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        icon
                                    </td>
                                    <td>
                                        Heary_Freak
                                    </td>
                                    <td>
                                        99%
                                    </td>
                                    <td>
                                        1833
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <button class="btn  btn-info">Join Queue</button>
                    <button class="btn  btn-warning">Leave Queue</button>
                </div>
            </div>
        </div>
    </div>
</div>