@{
    ViewData["Title"] = "Signed out";
}

<div class="content">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <h2>@ViewData["Title"]</h2>
                <p>
                    You have successfully signed out.
                </p>
            </div>
        </div>
    </div>
</div>
