@model DotaLeague.Models.PlayerViewModels.PlayerEditVM

@{
    ViewData["Title"] = "Player settings";
}

<div class="content">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body" style="margin-top: 10px">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="AdminEdit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="DisplayName" class="control-label"></label>
                                    <input asp-for="DisplayName" class="form-control" />
                                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Vouched league</label>
                                    <br />
                                    <select id="league-select" class="" asp-items="@Model.LeagueSelect" 
                                            asp-for="VouchedLeague">
                                        <option value="-1">Odaberi ligu</option>
                                        @if (Model.VouchedLeagueDTO != null)
                                        {
                                            <option value="@(Model.VouchedLeagueDTO.Id)" selected hidden>@Model.VouchedLeagueDTO.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SteamID" class="control-label"></label>
                                    <input asp-for="SteamID" class="form-control" />
                                    <span asp-validation-for="SteamID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TimeOutDateTime" class="control-label"></label>
                                    <input type="date" asp-for="TimeOutDateTime" class="form-control" />
                                    <span asp-validation-for="TimeOutDateTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Pos1PriorityValue" class="control-label"></label>
                                    <input asp-for="Pos1PriorityValue" class="form-control" />
                                    <span asp-validation-for="Pos1PriorityValue" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Pos2PriorityValue" class="control-label"></label>
                                    <input asp-for="Pos2PriorityValue" class="form-control" />
                                    <span asp-validation-for="Pos2PriorityValue" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Pos3PriorityValue" class="control-label"></label>
                                    <input asp-for="Pos3PriorityValue" class="form-control" />
                                    <span asp-validation-for="Pos3PriorityValue" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Pos4PriorityValue" class="control-label"></label>
                                    <input asp-for="Pos4PriorityValue" class="form-control" />
                                    <span asp-validation-for="Pos4PriorityValue" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Pos5PriorityValue" class="control-label"></label>
                                    <input asp-for="Pos5PriorityValue" class="form-control" />
                                    <span asp-validation-for="Pos5PriorityValue" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="card-footer text-center">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}