@model IEnumerable<ApplicationServices.ApplicationDTOs.LeagueDTO>

@foreach (var l in Model)
{
    <li>
        <a href="/league/leagueQueue?leagueId=@l.Id">
            <i class="tim-icons icon-shape-star"></i>
            <p>@l.Name</p>
        </a>
    </li>
}